form.form-horizontal(action="#")
  div.control-group
    label.control-label(for="field1") Field 1
    div.controls
      input(type="text", name="field1") 
  
  div.control-group
    label.control-label(for="field2") Field 2
    div.controls
      input(type="text", name="field2")
  
  div.control-group
    div.controls
      input.btn(type="submit")